<link rel="stylesheet" href="style.css">

<body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>@ 2023 ETP4A</h4> 
            </div>
            <div class="col-md-4">
                <h4>Nos services</h4>
                <ul>
                    <li> Cours en ligne</li>
                    <li> Formation à distance</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Nos contacts</h4>
                <p>E-mail : etp4a@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
</body>